@model PlusCP.Models.RO
@{
    ViewBag.Title = "PreRegisteredUnit";
    Layout = null;
}
<style>
    tr {
        white-space: nowrap;
    }
</style>
<div id="parentDiv" class="container-fluid">
    <div id="dataList" class="box panel panel-default">
        <div class="box-header with-border bg-blue-gradient">
            <button type="button" class="btn btn-box-tool" title="Option Page" onclick="$('#option').modal('show');">
                <span class="fa fa-filter fa-lg white"></span>
            </button>
            <input id="rptCode" type="hidden" value="001" />
            <input id="rptTitle" type="hidden" value="@ViewBag.ReportTitle Pre-Registered Units" />
            <h6 class="box-title"><strong>@ViewBag.ReportTitle Pre-Registered Units </strong><strong id="filterString"></strong></h6>
            <div id="buttons" class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body" id="lstP">
            <table id="lstPreRegistered" class="table table-bordered table-striped text-sm table-hover" style="width:100%">
                <thead class="sorted-asc">
                    <tr>
                        <th class="notexport"></th>
                        <th class="notexport"></th>
                        <th class="notexport"></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th></th>
                            <th></th>
                            <th></th>

                            <th></th>
                            <th></th>*@


                    </tr>
                </thead>
                <tbody id="tblBody"></tbody>
                <tfoot>
                    <tr>
                        <th class="notexport"></th>
                        <th class="notexport"></th>
                        <th class="notexport"></th>
                        <th>Total:</th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th></th>
                            <th></th>*@
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>

    ToggleDataList(false);
    LoadData();
    function LoadData() {
        $('#tblBody').empty();
        //$('#lstSO').DataTable().clear();
        //$('#lstSO').DataTable().destroy();

        $('#option').modal('hide');
        var isSingleRow = false;
        var rptName = $("#rptType option:selected").val();
        var fDate = $('#fromDt').val();
        var tDate = $('#toDt').val();
        var isAllDate = $('#isAllDate').is(':checked');
        var serialNo = $('#serialN').val();
        var _ProgramName = $("#ProgramID option:selected").text();

        var COLUMN_FORMAT =
        {
            formatDecimal: function (data, type, row) {
                var val = +data;
                return val === 0 ? '' : thousands_separators(val.toFixed(4));
            },
            formatTwoDecimal: function (data, type, row) {
                var val = +data;
                return val === 0 ? '' : val.toFixed(2);
            },
            formatNumber: function (data, type, row) {
                var val = +data;
                return val == 0 ? '0' : thousands_separators(val.toFixed('0'));
            },

            formatNumberForZero: function (data, type, row) {
                var val = +data;
                return val == '0' ? '' : val.toFixed('0');
            },

        };

        $.ajax({

            cache: false,
            type: 'GET',
            url: '/RO/GetPreRegisteredUnit',
            data: {

                rptName: rptName,
                frmDt: fDate,
                toDt: tDate,
                isAllDate: isAllDate,
                serialNo: serialNo,
                ProgramName: _ProgramName,
            },
            datatype: JSON,
            success: function (data) {
                $('#filterString').append(data.filterString);
                //$('#lstSO').DataTable().clear();
                //$('#lstSO').DataTable().destroy();

                var columnDef = [

                    { "data": "ID", "title": "RO Id", "width": "70px", "visible": false},
                    { "data": "ProgramID", "title": "Program ID", "width": "70px", "visible": false },
                    { "data": "HAS_SN", "title": "HAS_SN", "visible": false },
                        { "data": "Program", "title": "Program", "width": "50px" },
                        {
                            "data": "CustomerReference", "title": "Customer Ref.", "width": "70px",
                            render: function (data, type, row) {
                                var d = data.toString();
                                var formId = "partInquiryForm_" + row["Id"] + "_" + row["CustomerReference"] + "_" + row["ProgramID"];
                                var html = '<form id="' + formId + '" method="POST" action="\\RO\\Detail" target="_blank" style="margin:1px;">' +
                                    '<input type="hidden" name="Id" value="' + row["ID"] + '">' +
                                    '<input type="hidden" name="custRef" value="' + row["CustomerReference"] + '">' +
                                    '<input type="hidden" name="ProgramId" value="' + row["ProgramID"] + '">' +
                                    '<input type="hidden" name="page" value="list">' +
                                    '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + d + '</a>' +
                                    '</form>';
                                return html;

                            }
                        },
                        {
                            "data": "SerialNo", "title": "Serial No.", 
                            render: function (data, type, row) {
                                var d = data.toString();
                                if (row["HAS_SN"] == 'N') {
                                    html = row["SerialNo"];
                                }

                                else {
                                    var formId = "partInquiryForm_" + row["SerialNo"] + "_" + row["PartNo"];
                                    var html = '<form id="' + formId + '" method="POST" action="\\SNHistory\\Detail" target="_blank" style="margin:1px;">' +
                                        '<input type="hidden" name="serialNo" value="' + row["SerialNo"] + '">' +
                                        '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                        '<input type="hidden" name="page" value="list">' +
                                        '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + "\u200C" + d + '</a>' +
                                        '</form>';
                                }
                                return html;
                            }
                    },
                    {
                        "data": "PartNo", "title": "Part No.", "width": "90px",
                        render: function (data, type, row) {
                            var formId = "partInquiryForm_" + row["PartNo"] + "_" + row["ProgramID"];
                            var html = '<form id="' + formId + '" method="POST" action="\\PartInquiry\\Detail" target="_blank" style="margin:1px;">' +
                                '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                '<input type="hidden" name="ProgramId" value="' + row["ProgramID"] + '">' +
                                '<input type="hidden" name="page" value="list">' +
                                '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + data + '</a>' +
                                '</form>';
                            return html;
                        }
                    },
                        { "data": "ThirdPartyReference", "title": "Third Party Ref.", "width": "60px" },
                        { "data": "Status", "title": "Status", "width": "50px" },
                        { "data": "Description", "title": "Configuration Desc.", "width": "50px" },
                        { "data": "PreAlert", "title": "Pre-Alert", "width": "60px", "className": "text-center"},
                        //{ "data": "OrderType", "title": "Order Type", "width": "70px" },
                        //{ "data": "Address", "title": "Address", "width": "70px" },
                        //{ "data": "City", "title": "City", "width": "70px" },
                        //{ "data": "State", "title": "State", "width": "70px" },
                        //{ "data": "Country", "title": "Country", "width": "70px" },
                        //{ "data": "Zip", "title": "Zip", "width": "70px" },
                        {
                            "data": "QtyToRcv", "title": "To Recv.", "width": "60px", "className": "text-right",

                            render: function (data, type, row) {

                                var val = COLUMN_FORMAT.formatNumber(data);
                                return val;
                            }
                        },
                        {
                            "data": "QtyRcvd", "title": "To Rcvd", "width": "60px", "className": "text-right",
                            render: function (data, type, row) {

                                var val = COLUMN_FORMAT.formatNumber(data);
                                return val;
                            }
                        },
                        {
                            "data": "Pending", "title": "Pending Recv.", "width": "60px", "className": "text-right",
                            render: function (data, type, row) {

                                var val = COLUMN_FORMAT.formatNumber(data);
                                return val;
                            }
                        },
                    { "data": "Username", "title": "Created By", "width": "120px" },
                        { "data": "CreatedOn", "title": "Created On", "width": "100px", "className": "text-right" },
                        { "data": "LastActivityOn", "title": "Last Activity On", "width": "100px", "className": "text-right" }

                ]

                ToggleDataList(true);
                //For Displaying  Footer Sum
                var footerfunc = function () {
                    var api = this.api();
                    $(api.column(11).footer()).html(thousands_separators(api.column(11).data().sum()));
                    $(api.column(12).footer()).html(thousands_separators(api.column(12).data().sum()));
                    $(api.column(13).footer()).html(thousands_separators(api.column(13).data().sum()));
                }
                MakeDataGridIP('lstPreRegistered', data.lstPreRegistered, 0, columnDef, true, true, footerfunc);

                if (data["ErrorMessage"] != null) {
                    $('.dataTables_empty > p').text(data["ErrorMessage"]);
                }
            },
            onerror: function (r) { r },
            failure: function (r) { r }
        });


    }
    $(document).ready(function () {

        $("#opp").click(function () {


            Navigate('option', '\\SupplyChain\\RO\\Option','001','Received Orders','Specd by: Abbas Arsiwala @@ Reconext &amp; Designed by: Mohsin Saleem @@ WinIT','mailto:kashif@winit.biz?cc=mohsin@winit.biz;Tahir@winit.biz&amp;subject=Received Order - Detail Report');

        });

    });
</script>


